.latest {
    color: #FFF;
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

body {
    background: #0C111B;
}

p {
    color: #FFF;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card {
    height: 100%;
}